* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: white;
}

main {
    width: 1536px;
    height: 753px;
    background: url('/images/back123123.jpg');
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul li {
        background: url('/images/back1.jpg');
        float: left;
        width: 305px;
        height: 40px;
        background-color: black;
        opacity: .8;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0 5px 15px #8f0000;
    }

        ul li a {
            text-decoration: none;
            color: white;
            display: block;
        }

            ul li a:hover {
                background-color: darkred;
            }

        ul li ul li {
            display: none;
            z-index: 3
        }

        ul li:hover ul li {
            display: block;
        }

div.mbGallery-upload {
    position:absolute;
    bottom:250px;
    left:50px;
    width:350px;
    height:300px;
    margin:4px;
    padding:4px; 
}

