* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: white;
}

main {
    width: 1536px;
    height: 753px;
    background: url('/images/back123123.jpg');
}




div.mbGallery-upload {
    position:absolute;
    bottom:250px;
    left:50px;
    width:350px;
    height:300px;
    margin:4px;
    padding:4px; 
}

